<div>
  <h2>Angular Pipe</h2>
  Name is {{fname}}<br/>
  Name is {{fname | uppercase}}<br/>
  Name is {{fname | lowercase}}<br/>
  Salary is {{salary}}<br/>
  Salary is {{salary | currency}}<br/>
  Salary is {{salary | currency :'&#8377;'}}<br/>
  Salary is {{salary | currency : 'GBP'}}<br/>
  Date Info {{dd}}<br/>
  Date Info {{dd | date}}<br/>
  Date info {{dd | date:'short'}}<br/>
  Date info {{dd | date:'long'}}<br/>
  Date info {{dd | date:'dd-MM-yyyy hh:mm:ss'}}<br/>
  Time info {{dd | date :'hh:mm:ss'}}
</div>