<div>
    <input type="button" value="Load Fake Data"
    (click)="loadData()"/>
    <br/>
    <hr/>
    <table border="1" class="table table-striped table-dark">
        <tr>
            <th>UserId</th>
            <th>Id</th>
            <th>Title</th>
            <th>Completed</th>
        </tr>
        <tr *ngFor="let ff of fakeArray">
                <td>{{ff.userId}}</td>
                <td>{{ff.id}}</td>
                <td>{{ff.title}}</td>
                <td>{{ff.completed}}</td>
        </tr>
    </table>
</div>